<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Samuel </h1>
    <p>

        <li>New years resolution 

            <li> Mindset : Open your mind listen to alot of stuff!</li>
        </li>
    </p>
</body>
</html>