<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Samuel </h1>
    <p>
<h1> this is in the index file </h1>
        <li>New years resolution 

            <li> Mindset : Open your mind listen to alot of stuff!</li>
            
            <% for (let list of bulk){ %>

                <% if (true){ %>
            <li> <%="hello"%></li>    
                <% }%>
                <% if (false){ %>
                <% }else{   %>
                    <%="Man i love ejs!"%>
                <% }%>
          <li> <%= list.list %>   </li>   
            <% } %>
            
        </li>
    </p>
</body>
</html> 
